.list {
	margin-left: 17%;
}

.socialmedia {
	float: right;
}

a {
	color: black;
}

a.btt {
	margin-left:15%;
	font-size: 12pt;
	font-style: italic;
}

a.publication {
	font-style: italic;
}
			
body {
	font-family: verdana,helvetica,sans-serif;
}

div.ccs21-footer {
	background-color: rgb(194,43,23);
	color: white;
	margin-top: 3%;
	margin-left: -1%;
	margin-right: -1%;
	margin-bottom: -1%;
}

div.ccs21-header {
	background-color: rgb(194,43,23);
	color: white;
	margin-left: -1%;
	margin-right: -1%;
	margin-top: -1%;
}

div.footer {
	background-color: rgb(100,25,60);
	color: white;
	margin-top: 3%;
	margin-left: -1%;
	margin-right: -1%;
	margin-bottom: -1%;
}

div.header {
	background-color: rgb(100,25,60);
	color: white;
	margin-left: -1%;
	margin-right: -1%;
	margin-top: -1%;
}

h1 {
	color: rgb(100,25,60);
	font-size: 30pt;
	font-weight: normal;
	margin-left: 15%;
	margin-right: 15%;
}

h1.ccs21 {
	color: rgb(194,43,23);
}

h2 {
	font-size: 22pt;
	font-weight: normal;
	margin-left: 15%;
	margin-right: 15%;
}

h2.ccs21 {
	color: rgb(194,43,23);
}

h3 {
	font-size: 18pt;
	margin-left: 15%;
	margin-right: 15%;
}

h3.ccs21 {
	color: rgb(194,43,23);
}

hr {
	margin-left: 15%;
	margin-right: 15%;
	color: rgb(100,25,60);
}

li {
	margin-top: 1%;
}

p {
	font-size: 14pt;
	margin-left: 15%;
	margin-right: 15%;
}

p.ccs21-footer {
	margin-left: 16%;
	margin-right: 16%;
	margin-bottom: -1%;
	text-align: center;
	font-size: 12pt;
	font-style: italic;
}

p.ccs21-header {
	margin-left: 16%;
	margin-right: 16%;
	margin-top: -1%;
}

p.ccs21-schedule {
	margin-left:17%;
	line-height:1.5;
}

p.footer {
	margin-left: 16%;
	margin-right: 16%;
	margin-bottom: -1%;
	text-align: center;
	font-size: 12pt;
	font-style: italic;
}

p.header {
	margin-left: 16%;
	margin-right: 16%;
	margin-top: -1%;
}

ps {
	font-size: 12pt;
}

rd {
	color: rgb(100,25,60);
	font-weight: bold;
}

ul {
	font-size: 14pt;
	margin-left: 15%;
	margin-right: 15%;
}


